<!-- NAVIGATION BAR -->
<div style="height: 60px"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Enigma</a>
        </div>

    </div><!-- /.container-fluid -->
</nav>
